---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Skills from '../sections/Skills.astro';
import Porfolio from '../sections/Porfolio.astro';
import About from '../sections/About.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="willdu Porfolio - Diseñador Grafico con 10 años de experiencia" description="Mi Porfolio donde puedes encontrar mis mejores proyectos y conocer un poco más de mi">
		<Hero/>
	<main>
		<Skills/>
		<Porfolio/>
		<About/>
	</main>
	<Footer/>
</Layout>
