---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Skills from '../sections/Skills.astro';
import Porfolio from '../sections/Porfolio.astro';
import About from '../sections/About.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="willdu Portfolio - Graphic Designer with 10 years of experience" description="My portfolio where you can find my best projects and learn a little more about me">
		<Hero/>
	<main>
		<Skills/>
		<Porfolio/>
		<About/>
	</main>
	<Footer/>
</Layout>
