---
import "photoswipe/style.css";
---

<h3 class="text-2xl font-normal text-[#202B37] mb-1">Street Banners</h3>
<div class="pswp-gallery grid sm:grid-cols-2 md:grid-cols-3 gap-4 mb-16" id="gallery">

    

    {
        Array.from({ length: 9 }).map( (_, i) => (
            <a
                href={`gallery/streetbanners/street-00${i + 1}.webp`}
                data-pswp-width="980" 
                data-pswp-height="980"
                target="_blank"
            >
                <img 
                    class="rounded-2xl hover:scale-105 transition duration-200 ease-in-out"
                    src={`gallery/streetbanners/street-00${i + 1}.webp`} 
                    alt=""
                >
            </a>
        ))
    }
    
</div>

<h3 class="text-2xl font-normal text-[#202B37] mb-1">Social Media</h3>
<div class="pswp-gallery grid sm:grid-cols-2 md:grid-cols-3 gap-4 mb-16" id="gallery">

    

    {
        Array.from({ length: 9 }).map( (_, i) => (
            <a
                href={`gallery/socialmedia/post-00${i + 1}.webp`}
                data-pswp-width="980" 
                data-pswp-height="980"
                target="_blank"
            >
                <img 
                    class="rounded-2xl hover:scale-105 transition duration-200 ease-in-out"
                    src={`gallery/socialmedia/post-00${i + 1}.webp`} 
                    alt=""
                >
            </a>
        ))
    }
    
</div>

<h3 class="text-2xl font-normal text-[#202B37] mb-1">Logos</h3>
<div class="pswp-gallery grid sm:grid-cols-2 md:grid-cols-3 gap-4 mb-16" id="gallery">

    

    {
        Array.from({ length: 18 }).map( (_, i) => (
            <a
                href={`gallery/logos/logo-${i + 1}.webp`}
                data-pswp-width="980" 
                data-pswp-height="980"
                target="_blank"
            >
                <img 
                    class="rounded-2xl hover:scale-105 transition duration-200 ease-in-out"
                    src={`gallery/logos/logo-${i + 1}.webp`} 
                    alt=""
                >
            </a>
        ))
    }
    
</div>

<h3 class="text-2xl font-normal text-[#202B37] mb-1">Banners</h3>
<div class="pswp-gallery grid sm:grid-cols-2 md:grid-cols-3 gap-4 mb-16" id="gallery">

    

    {
        Array.from({ length: 9 }).map( (_, i) => (
            <a
                href={`gallery/banners/banner-00${i + 1}.webp`}
                data-pswp-width="980" 
                data-pswp-height="980"
                target="_blank"
            >
                <img 
                    class="rounded-2xl hover:scale-105 transition duration-200 ease-in-out"
                    src={`gallery/banners/banner-00${i + 1}.webp`} 
                    alt=""
                >
            </a>
        ))
    }
    
</div>

<h3 class="text-2xl font-normal text-[#202B37] mb-1">Plaques</h3>
<div class="pswp-gallery grid sm:grid-cols-2 md:grid-cols-3 gap-4 mb-16" id="gallery">

    

    {
        Array.from({ length: 3 }).map( (_, i) => (
            <a
                href={`gallery/placas/placa-${i + 1}.webp`}
                data-pswp-width="980" 
                data-pswp-height="980"
                target="_blank"
            >
                <img 
                    class="rounded-2xl hover:scale-105 transition duration-200 ease-in-out"
                    src={`gallery/placas/placa-${i + 1}.webp`} 
                    alt=""
                >
            </a>
        ))
    }
    
</div>

<h3 class="text-2xl font-normal text-[#202B37] mb-1">Stickers</h3>
<div class="pswp-gallery grid sm:grid-cols-2 md:grid-cols-3 gap-4 mb-16" id="gallery">

    

    {
        Array.from({ length: 9 }).map( (_, i) => (
            <a
                href={`gallery/stickers/stiker-00${i + 1}.webp`}
                data-pswp-width="980" 
                data-pswp-height="980"
                target="_blank"
            >
                <img 
                    class="rounded-2xl hover:scale-105 transition duration-200 ease-in-out"
                    src={`gallery/stickers/stiker-00${i + 1}.webp`} 
                    alt=""
                >
            </a>
        ))
    }
    
</div>


<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '#gallery',
        children: 'a',
    pswpModule: () => import('photoswipe')
    });

lightbox.init();

</script>

