---
import LogoPsd from '../components/LogoPsd.astro';
import LogoAi from '../components/LogoAi.astro';
import LogoCorel from '../components/LogoCorel.astro';
import LogoFigma from '../components/LogoFigma.astro';
---

<article class="w-full flex">

    <div class="flex flex-col">
        <h3 class="text-2xl font-normal text-white mb-1.5">Graphic <span class="text-[#05F26CF2]">Design</span></h3>

        <span class="text-base font-extralight text-white mb-3">
            I transform ideas into striking images, from distinctive logos to promotional materials and social media graphics, effectively communicating your message in a memorable way.
        </span>

       <ul class="flex flex-row gap-2 mb-2">
            <li><span class="text-white font-extralight text-sm py-0.5 px-6 bg-[#060814] rounded-full border-[1px] border-white">Branding</span></li>
            <li><span class="text-white font-extralight text-sm py-0.5 px-6 bg-[#060814] rounded-full border-[1px] border-white">Social Media</span></li>
            <li><span class="text-white font-extralight text-sm py-0.5 px-6 bg-[#060814] rounded-full border-[1px] border-white">Logo Design</span></li>
            <li><span class="text-white font-extralight text-sm py-0.5 px-6 bg-[#060814] rounded-full border-[1px] border-white">User Interface UI/UX</span></li>
       </ul>

       <ul class="flex flex-row">
            <li class="scale-75"><LogoPsd/></li>
            <li class="scale-75"><LogoAi/></li>
            <li class="scale-75"><LogoCorel/></li>
            <li class="scale-75"><LogoFigma/></li>
       </ul>
        
    </div>
        
    <div class="content-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdZ74sEF3kki5DAZ-qlpKnMGlYlt7KbBJecVbDeI6TvQ&s" alt="">
    </div>

</article>