<div class="bg-gradient-to-b from-[#05F26CF2] to-[#6805F2] w-full h-28">
</div>

<section id="aboutme" class="bg-[#6805F2] px-4">
    
    <div class="max-w-screen-md mx-auto pb-24">
        
        <h3 class="font-medium text-3xl text-white">
            About Me 
        </h3>

        <div class="grid md:grid-cols-2 items-center">
            
            <div class="flex flex-col order-2 justify-center gap-6 md:order-1">

                <span class="font-extralight text-white text-base">
                    My name is William Joel Cardoza Dubon, but you can call me Will. Since I was a child, I found joy in drawing and creating in my notebooks, <strong class="text-[#FFC700]">a passion that has evolved to help businesses and entrepreneurs with my designs.</strong>   
                </span>
    
                <span class="font-extralight text-white text-base">
                    When I'm not working, I enjoy exploring and seeking inspiration in the world around me, while movies, video games, and music fuel my creativity. But what I enjoy most is spending time with family and friends, sharing laughter and unforgettable moments. 
                </span>
    
                <span class="font-extralight text-white text-base">
                    I'm excited to connect with you and share my love for design. <strong class="text-[#FFC700]"> I hope to have the opportunity to work together and also to become friends!</strong>
                </span>
            </div>
    
            <div class="flex justify-center order-1 md:order-2">
                <img class="w-72 aboute-img" src="/about-me.webp" alt="Fotografía sobre mí" width="200" height="200">
            </div>
        </div>

    </div>

</section>

<style>
    .aboute-img {
        mask-image: linear-gradient(to bottom, black 50%, rgba(0, 0, 0, 0.01) 90%);
    }
</style>