---
import Image from "astro/components/Image.astro";
---

<section class="bg-cover bg-center px-4 relative" style="background-image: url(/bg-hero.svg)">
    <div class="max-w-screen-lg mx-auto z-40 grid gap-6 md:grid-cols-2 pt-32 md:gap-0 relative h-auto lg:h-[42rem]">

        <div class="flex flex-col w-full gap-5 mx-auto justify-center sm:w-3/4 md:w-5/6 z-30 lg:ml-32 md:ml-8 relative">
            <h1 class="font-semibold text-5xl text-white">
                Hey, I'm William 
            </h1>

            <span class="font-light text-2xl text-white">
                <strong class="noisefont-medium text-[#FFC700]">+10 years of experience as a Graphic Designer. </strong>Specialized in crafting striking and creative graphic solutions for all kinds of brands.
            </span>

            <div class="w-full grid md:flex md:flex-wrap md:w-5/6 gap-3 md:items-center">
                <a class="font-normal text-[#6805F2] bg-[#05F26C] rounded-sm px-5 py-1.5 text-center hover:scale-105 transition duration-200 ease-in-out hover:bg-[#FFC700]" href="#">Download My CV</a>

                <a class="font-normal text-[#05F26CF2] border-2 border-[#05F26C] rounded-sm px-8 py-1.5 text-center hover:scale-105 transition duration-200 ease-in-out hover:bg-[#FFC700] hover:text-[#6805F2] hover:border-[#FFC700]" href="/#portfolio">See my Work</a>
            </div>
        </div>

        <div class="flex justify-center z-20 lg:mr-32 md:mr-8 relative">
            <Image 
                src={"/hero-image.webp"}
                alt="William Graphic Designer"
                width={1080}
                height={1080}
                loading="lazy"
            />
            <!-- <img class="h-[30rem] md:h-auto" src="/hero-image.webp" alt="William Graphic Designer"> -->
        </div>
    </div>

    <div class="mx-auto h-0 w-0 border-r-[50px] border-b-[45px] border-l-[50px] border-solid border-r-transparent border-l-transparent border-b-[#05F26CF2] z-50 absolute bottom-0 left-0 right-0">
    </div>

</section>


