---
import Gallery from "../components/Gallery.astro";
---

<div class="bg-[#DFE2E7] bg-center px-4">

    <section class="max-w-screen-md mx-auto py-28">

        <header class="mb-14">
            <h2 class="font-light text-3xl text-[#202B37]">
                Browse Through My <br> <strong class="font-medium text-[#6805F2]">Varied Portfolio</strong>
            </h2>
        </header>

        <Gallery/>
    </section>

</div>