---
import Gallery from "../components/Gallery.astro";
---
<div class="bg-gradient-to-b from-[#6805F2] to-[#DFE2E7] w-full h-28">
</div>

<section class="bg-[#DFE2E7] px-4">

    <div class="max-w-screen-md mx-auto pb-24">

        <header class="mb-14">
            <h2 class="font-light text-3xl text-[#202B37]">
                Browse Through My <br> <strong class="font-medium text-[#6805F2]">Varied Portfolio</strong>
            </h2>
        </header>

        <Gallery/>
    </div>

    <div class="mx-auto h-0 w-0 border-r-[50px] border-b-[45px] border-l-[50px] border-solid border-r-transparent border-l-transparent border-b-[#05F26CF2]">
    </div>

</section>