---
import HabilitesCard from '../components/HabilitesCard.astro';
---

<div class="bg-[#060814] bg-center px-4">

    <section class="max-w-screen-md mx-auto py-28">

        <header class="mb-14">
            <h2 class="font-light text-3xl text-white">
                Discover My Diverse <br> <strong class="font-medium text-[#05F26CF2]">Creative Skills</strong>
            </h2>
        </header>
        
        <div class="flex flex-col gap-20">
            <HabilitesCard/>
            <HabilitesCard/>
            <HabilitesCard/>
        </div>
        

    </section>
</div>