---
import '@fontsource/kanit/200.css'; 
import '@fontsource/kanit/300.css'; 
import '@fontsource/kanit/400.css'; 
import '@fontsource/kanit/500.css'; 
import '@fontsource/kanit/600.css'; 
import Header from '../components/Header.astro';

interface Props {
	description: string;
	title: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}/>
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#05F26C">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Kanit', sans-serif;
	}

	body {
		background-image: url("/bg-hero.svg");
		background-position: top;
		background-repeat: no-repeat;
		background-size: contain;
	}

	@media screen and (width <= 1200px) {
  		body {
			background-size: auto;
    	}
	}
</style>
